@model UserViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-left">
    <img src="~/images/logo(1).png">
    <span>Direct Aid</span>
</div>

<div class="dashboard-right">
    <h1>Register</h1>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" placeholder="Enter your first name." />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" placeholder="Enter your last name." />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Enter your email." />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WalletName" class="control-label"></label>
                    <input asp-for="WalletName" class="form-control" placeholder="Enter a wallet name." readonly/>
                    <span asp-validation-for="WalletName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WalletAddress" class="control-label"></label>
                    <select asp-for="WalletAddress" asp-items="ViewBag.WalletAddresses" class="form-control"></select>
                    <span asp-validation-for="WalletAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" type="date" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button class="Cancel-register" onclick="location.href='/'"> Cancel </button>
                    <input type="submit" value="Create" class="btn btn-primary create" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    $("body").addClass("Register");
   
</script>