<!-- Modal start-->
<div class="modal" id="processModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div>
                        <span id="process-text"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end-->